/* 
HTML 
*/
html,body{
    color: white;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}
main {
    margin-top: 90px;
}
/* 
Navbar
*/
header{
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: black;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li {
    margin: 20px;
}
/* 
Footer
*/
footer{
    justify-content: center;
}
#social-links{
    display: flex;
    justify-content: center;
}
#social-links ul{
    display: flex;
    list-style: none;
}
#social-links ul li {
    margin: 10px;
}
#copy{
    margin: 0;
    display: flex;
    justify-content: center;
}
/* 
Contenido
*/
#titulo{
    display: inline-block;
    border-bottom: 4px solid blue;
}
#navegador ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
#navegador ul li{
    margin: 10px;
}
section{
    border: 2px solid red;
    background: linear-gradient(gray, black);
}